*
!*/
alacritty/themes/
!alacritty/alacritty.yml
!espanso/**
!i3/**
!picom/**
!polybar/**
!ranger/**
!vim/**
!zsh/**
!feh/**
!dunst/**
!mcomix/**
!rofi/**
!firefox/**
!idasen-controller/**
!scripts/**
scripts/Capture2Text
scripts/*.png
!/install.sh
!/README.md
!/dependencies.sh
!/.gitignore
