*
!*/
alacritty/themes/
!alacritty/alacritty.toml
!espanso/**
!i3/**
!hypr/**
!waybar/**
!wofi/style.css
!picom/**
!polybar/**
!ranger/**
!vim/**
!nvim/**
nvim/lazy-lock.json
!zsh/**
!feh/**
!dunst/**
!mcomix/**
!firefox/**
!linak-controller/**
!copyq/copyq.conf
!flameshot/flameshot.ini
!mpv/**
!scripts/**
scripts/Capture2Text
scripts/*.png
!/install.sh
!/README.md
!/dependencies.sh
!/starship.toml
!/.gitignore
!/vicinae/**
