*
!*/
alacritty/themes/
!alacritty/alacritty.toml
!hypr/**
!waybar/**
!polybar/**
!nvim/**
nvim/lazy-lock.json
!dunst/**
!firefox/**
!linak-controller/**
!mpv/**
!install.sh
!README.md
!dependencies.sh
!starship.toml
!.gitignore
!vicinae/**
!fish/**
!.claude/**
!CLAUDE.md
