//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

configuration {
	kb-row-up: "Up,Control+k,Shift+Tab,Shift+ISO_Left_Tab";
	kb-row-down: "Down,Control+j";
	kb-mode-complete: "";
	kb-accept-entry: "Control+l,Return,KP_Enter";
	kb-remove-to-eol: "Control+Shift+e";
	kb-mode-previous: "Shift+Left,Control+Shift+Tab,Control+h";
	kb-remove-char-back: "BackSpace";
}
